@font-face {
    font-family: 'Gotham Pro';
    src: url('font/GothamPro-Light.eot');
    src: url('font/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('font/GothamPro-Light.woff') format('woff'),
    url('font/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('font/GothamPro-Medium.eot');
    src: url('font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/GothamPro-Medium.woff') format('woff'),
    url('font/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    background-repeat: repeat-y;
    background-color: #f6f5f5;
    font-family: 'Gotham Pro';
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../img/bg.png);
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: 100%;
    }
}

a, .col, a {
    position: relative;
    z-index: 10;
}

.df {
    display: flex;
}

html, body {
    overflow-x: hidden;
}

.top, .down {
    z-index: 99999;
}

header {
    padding: 40px 60px;
    display: flex;
    align-items: center;

    .logo {
        width: 10%;

        img {
            width: 100%;
        }
    }

    nav {
        width: 76%;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-end;

            li {
                margin: 0px 20px;

                a {
                    font-weight: 300;
                    text-decoration: none;
                    color: #000000;
                    font-size: 24px;
                }
            }
        }
    }

    .lk {
        width: 24%;
        text-align: center;

        a {
            font-weight: 300;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            background: #c5326a;
            display: block;
            padding: 4px 0px;
        }
    }
}

section.main {
    background: #c5326a;
    padding-bottom: 40px;
    position: relative;

    .slick-list {
        overflow: inherit;
    }

    .items {
        padding: 20px;

        .img {
            width: 50%;

            img {
               margin: 0 auto;
            }
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 999;

        li {

            button {
                font-size: 0px;
                width: 22px;
                height: 22px;
                border-radius: 100%;
                border: 2px solid #fff;
                background: none;
                margin: 0px 4px;
                cursor: pointer;
            }
        }

        .slick-active {

            button {
                background: #fff;
            }
        }
    }

    .text {
        padding: 20px 120px 0px 40px;
        width: 50%;

        h2 {
            padding-bottom: 36px;
            font-weight: 300;
            font-size: 36px;
            color: #fff;
        }

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            color: #fff;
        }

        .btn {
            text-align: right;
            margin-top: 120px;

            a {
                font-weight: 500;
                font-size: 36px;
                color: #fff;
                background: #f20056;
                padding: 10px;
                border-radius: 50px;
                text-decoration: none;
            }
        }
    }

    .nav_main_slider {
        
        span {
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 36px;
            cursor: pointer;
        }

        .top  {
            left: 40px;
        }

        .down  {
            right: 40px;
        }
    }
}

section.price {
    padding: 40px 0px 0px 0px;
    margin-bottom: 60px;

    h2 {
        text-align: center;
        padding-bottom: 45px;
        font-weight: 300;
        font-size: 48px;
        color: #000000;
    }

    .tabs {
        position: relative;
        z-index: 10;

        .header_tabs {
            display: flex;
            align-items: center;
            justify-content: center;

            .block {
                background: #c5326a;
                padding: 14px 0px;
                border-radius: 50px;
                width: 450px;
                display: flex;
                justify-content: space-between;

                button {
                    font-weight: 300;
                    font-size: 30px;
                    color: #fff;
                    background: none;
                    border: 0px;
                    margin: 0px 14px;
                    text-align: center;
                    padding: 4px 30px;
                    border-radius: 50px;
                    cursor: pointer;
                }

                .active {
                    background: #a21048;
                }

            }
        }
    }

    .main {
        margin-top: 35px;

        .df {
            align-items: center;
            justify-content: center;

            .col {
                margin: 0px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                cursor: pointer;
            }

            .img {
                width: 96px;
                height: 96px;  
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background: #c5326a;
            }

            h6 {
                margin-top: 10px;
                text-align: center;
                font-weight: 300;
                font-size: 18px;
                color: #000;
                line-height: 18px;
            }
        }
    }
}

section.usluga {
    background: #fff;
    padding: 20px 40px;

    .items {

        img {
            padding-left: 40px;
            padding-bottom: 20px;
        }

        h4 {
            padding-top: 40px;
            color: #000;
            font-weight: 300;
            font-size: 36px;
            padding-bottom: 60px;
        }

        p {
            font-weight: 300;
            font-size: 24px;
            color: #000;
            line-height: 35px;
        }
    }
}

section.plus {
    background: #fff;
    margin-top: 20px;
    padding: 70px 0px 30px 0px;

    h2 {
        text-align: center;
        padding-bottom: 60px;
        font-weight: 300;
        font-size: 48px;
        color: #000;
    }

    .df {
        align-items: center;
        justify-content: center;
    }

    .col {
        margin: 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        .img {
            width: 96px;
            height: 96px;  
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: #c5326a;
            padding: 20px;
            box-sizing: border-box;

            img {
                width: 100%;
            }
        }

        h6 {
            text-align: center;
            margin-top: 20px;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

section.portfolio {
    margin-top: 80px;
    background: #fff;
    position: relative;
    padding: 20px 60px 40px 60px;

    h2 {
        padding-bottom: 60px;
        font-weight: 300;
        font-size: 48px;
        color: #000;
        text-align: center;
    }

    img {
        border-radius: 10px;
    }

    .nav_slick {

        span {
            position: absolute;
            top: 220px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 24px;
            background: #c5326a;
            border-radius: 100%;
            cursor: pointer;
            z-index: 10;
        }

        .top {
            left: 36px;
        }

        .down {
            right: 36px;
        }
    }

    h6 {
        text-align: center;
        margin-top: 50px;
        font-size: 24px;
        font-weight: 300;
        color: #000;

        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
            color: #fff;
            background: #c5326a;
            padding: 4px 10px;
            border-radius: 10px;
        }
    }
}

footer {
    background: #c5326a;
    padding: 10px 60px 60px 60px;

    h2 {
        padding-bottom: 60px;
        font-weight: 300;
        font-size: 48px;
        color: #fff;
        text-align: center;
    }

    .col {
        width: 33.333%;
    }

    h6 {
        font-weight: 300;
        font-size: 30px;
        color: #fff;
        line-height: 48px;
    }

    .img {
        border-radius: 100%;
        background: #fff;
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
    }

    .ta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        h6 {
            font-size: 30px;
            font-weight: 300;
            line-height: 40px;
        }
    }
}

.map {
    position: relative;
    z-index: 10;

    iframe {
        width: 100%;
        height: 460px;
    }
}

.header_mobail {
    display: none;
}

.header {
    display: block;
}

.logo_mobail, #manPrice, .header_mobail, #womanPrice1, #womanPrice2, #womanPrice3, #womanPrice4, #womanPrice5, #manPrice4, #manPrice3, #manPrice2 {
    display: none;
}

#womanPrice {
    display: flex;
}

section.kurs {
    padding: 120px 40px;
    width: 100%;
    box-sizing: border-box;

    h2 {
        text-align: center;
        padding-bottom: 60px;
        font-weight: 300;
        font-size: 48px;
        color: #000;
    }

    .df {
        flex-wrap: wrap;
        justify-content: space-between;

        .onas {
            width: 30%;
            position: relative;
            margin-top: 60px;
            background: #fff;
            margin-bottom: 60px;
            padding-bottom: 140px;
            position: relative;
            box-shadow: 0 1px 6px rgba(31,31,31,0.12), 0 1px 4px rgba(31,31,31,0.12);

            &:after {
                content: "";
                position: absolute; 
                width: 100%;
                z-index: 1;
                height: 240px;
                top: -30px;
                bottom: 40px;
                background: linear-gradient(135deg, #00ab41, #1976d2);
                transform: skewY(-10deg);
            }

            h6 {
                font-weight: 700;
                color: #fff;
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 20px;
                position: relative;
                z-index: 9;
                padding-left: 20px;
            }

            ul {
                position: relative;
                z-index: 9;
                list-style: disc;
                margin-left: 20px;
                padding-left: 20px;

                li {
                    font-size: 14px;
                    margin-bottom: 10px;
                    font-weight: 300;
                    color: #fff;
                }
            }

            a {
                display: block;
                text-align: right;
                color: #1976d2;
                text-transform: uppercase;
                padding-right: 20px;
                margin-top: 120px;
                position: absolute;
                bottom: 20px;
                right: 20px;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 780px) {

    header nav ul li {
        margin: 0px 16px;
    }
    .logo_mobail {
        display: none;
    }
    header nav ul li a {
        font-size: 20px;
    }
    header {
        padding: 40px 20px;
    }
    section.main {

        .items {

            .df {
                flex-flow: column;
            }
        }
    }
    section.main .items .img {
        width: 100%;
    }
    section.main .text {
        width: 100%;
        padding: 20px 0px;
    }
    section.usluga {

        .df {
            flex-flow: column;
        }
    }
    section.usluga .items img {
        padding: 20px 0px 20px 0px
    }
    section.portfolio img {
        margin: 0 auto;
    }
    section.portfolio .nav_slick span {
        top: 264px;
    }
    section.portfolio h6 {
        line-height: 45px;
    }
    footer {

        .df {
            flex-wrap: wrap;

            .col {
                width: 100%;
                padding-bottom: 20px;
            }

            .ta {
                width: 50%;
            }
        }
    }
    footer h6 {
        text-align: center;
    }
    .header_mobail {
        display: none;
    }
    .header {
        display: block;
    }

}

@media (max-width: 480px) {

    .header {
        display: none;
    }
    header .logo {
        display: none;
    }
    header nav, header .lk {
        display: none;
    }
    .logo_mobail .logo {
        display: block;
    }
    body:after {
        display: none;
    }
    .header_mobail {
        display: block;
    }
    .logo_mobail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo {
            width: 50%;
        }

        .menu {
            width: 50%;
            text-align: right;
        }
    }
    #openMenu {
        position: relative;
        font-size: 24px;
        z-index: 10;
    }
    .header_mobail {
        display: block;
        position: fixed;
        width: 100%;
        padding: 20px;
        background: #fff;
        height: 100%;
        z-index: 999;
        top: 0px;
        left: -500px;
        transition: all 300ms;

        .container {
            position: relative;
        }

       
        ul {
            list-style: none;
            width: 100%;
            margin: 40px 0px;

            li {
                margin: 18px 0px;

                a {
                    font-weight: 300;
                    text-decoration: none;
                    color: #000000;
                    font-size: 24px;
                }
            }
        }

        .lk {
            width: 100%;
            text-align: left;

            a {
                font-weight: 300;
                text-decoration: none;
                color: #fff;
                font-size: 24px;
                background: #c5326a;
                padding: 4px 14px;
            }
        }

        #openClose {
            position: absolute;
            top: 20px;
            right: 40px;
            font-size: 24px;
        }

    }
    .slider_main {
        position: relative;
        z-index: 10;
    }
    .nav_main_slider {
        display: none;
    }
    section.main .text h2 {
        text-align: center;
    }
    section.price .tabs .header_tabs .block {
        flex-flow: column;
    }
    section.price .tabs .header_tabs {
        padding: 0px 20px;
    }
    section.price .main .df {
        flex-wrap: wrap;
    }
    section.price .main .df .col {
        width: 40%;
        margin-bottom: 20px;
    }
    section.usluga .items h4 {
        text-align: center;
    }
    section.usluga .items p {
        text-align: center;
    }
    section.usluga .items img {
        width: 100%;
    }
    section.plus .df {
        flex-wrap: wrap;
    }
    section.plus .col {
        width: 40%;
        margin-bottom: 20px;
    }
    section.portfolio img {
        width: 100%;
    }
    footer {
        padding: 20px;
    }
    footer h6 {
        font-size: 26px;
    }
    footer .df .ta {
        width: 100%;
    }

}